@tailwind base;

html {
  scroll-behavior: smooth;
}

@tailwind components;

.aspect-ratio {
  overflow: hidden;
  /* Calculated from the aspect ratio of the content (in case of 16:9 it is 9/16= 0.5625) */
  padding-top: 56.25%;
  position: relative;
  /* z-index: -1; */
  z-index: 1;
}

.aspect-ratio iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@tailwind utilities;

.list-star li {
  background: url(/elements/list-star.svg) no-repeat 0 2px;
  padding-left: 26px;
  margin-left: -26px;
}

.list-check li {
  background: url(/elements/list-check.svg) no-repeat 0 2px;
  padding-left: 26px;
  margin-left: -26px;
}

.list-excluded li {
  background: url(/elements/list-excluded.svg) no-repeat 0 4px;
  padding-left: 26px;
  margin-left: -26px;
}

.bg-brush {
  background: url(/elements/brush.svg) no-repeat 50% 50%;
}

.quote::before {
  content: ' ';
  display: block;
  height: 20px;
  background: url(/elements/quote-open.svg) no-repeat 0 0;
}

.quote {
  background: url(/elements/quote-close.svg) no-repeat 100% 100%;
}
